body {
    background-image: url("https://images.pexels.com/photos/1395958/pexels-photo-1395958.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
    color: white;
    text-align: left;
    font-family:'Righteous', cursive;
}

.cover-heading{
    margin-top: 40px;
    font-size: 80px;
}

#game-start{
    margin-top: 70px;
    font-size: 40px;
}

#countdown {
    font-size: 26px;
    color:rgb(201, 12, 12);
}

#game-done {
    font-size: 40px;
}

.lead2 {
    font-size: 30px;
    color: goldenrod;
}

.quest {
    font-size: 26px;
    color: wheat;
}

.text-mysize {
    font-size: 20px;
}
 